@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}

canvas {
  max-width: 80vw; /* Scale down to width of screen */
  max-height: 80vh; /* Leave some room for text/buttons */
  display: block;
  margin: 20px auto;
  border: 2px solid #555;
  object-fit: contain; /* Keeps aspect ratio correct */
}
